:root {
    --background-color: #ffffff;
    --color-button: #FFFFFF;
    --background-button: #404BBF;
}

.body-fonts {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.footer-list-syle {
    background-color: #2e2f42
}

/* LOGO */

.logo-linked link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}


.address-list {
    font-style: normal;
    color: #434455;
}

/* CONTACTS */
.nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.contact-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}


.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: var(--color-primary);
}

:root {
    --color-primary: #404bbf;
}

/* BUTTON */

.text-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.section-style {
    background-color: #2e2f42;
}


/* TEXT TOP */

:root
/* BUTTON */

.btn-style {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer
}

.btn-style:focus,
.btn-style:hover {
    background-color: #404BBF;
}

.section-style {
    color: #2e2f42;
}

/* HERO */

.hero-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.hero-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.hero-item-list {
    background-color: #FFFFFF;
}

/* GOAL LIST */

.goal-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.goal-item-list {
    background-color: #FFFFFF;
}


/* TEAM */

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #F4F4FD;
}

.team-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-item-list {
    background-color: #FFFFFF;
}



/* FUTER PORFOLIO */

.style-logos-item {
    color: #2e2f42;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.portfolio-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

/* HEADER LOGO */
.style-logos-logo {
    color: #2E2F42;
}

/* FOTER LOGO */

.style-logos-down {
    color: #F4F4FD;
}

.logo-color-list {
    background-color: #2e2f42;
}

.footer-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/* HEADER LOGO  */

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

/* Portfolio */

.list {
    list-style: none;
}

/* Button Portfolio */

.button-all {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #4d5ae5;
    background-color: #F4F4FD;
}

.button-all:hover,
.button-all:focus {
    background: var(--background-button);
    color: var(--color-button);
}

.link {
    text-decoration: none;
}

.portfolio-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}